.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 25px;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea.form-control {
    resize: none;
  }
  